<div id="mailchimp_subscribe_wrap">
  <%= form_for :user, url: :subscriptions do |f| %>
    <div class="subscribe-email">
      <%= text_field_tag :email, nil, placeholder: Spree.t('enter_your_email'), class: 'email', id: 'subscribe_email' %>
    </div>
    <div class="subscribe-button">
      <%= submit_tag Spree.t('subscribe'), id: 'op_subscribe' %>
    </div>
  <% end -%>
</div>